.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    background-color: var(--time-background);
}

.feedback-container {
    background-color: var(--bg-questions-comp);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--bg-header);
    width: 100%;
}

.header-part-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-part-right img {
    cursor: pointer;
}

.profile {
    background-color: var(--parent-bg-primary);
    border-radius: 50%;
    padding: 3px;
}

.body-section {
    width: 95%;
}

.heading-p {
    color: var(--text-head);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border-bottom: 1px solid var(--range-partially-correct);
    width: fit-content;
    padding: 10px 0;
}

.check-click {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
}

.check-click input[type="checkbox"] {
    accent-color: #0E9715;
}

.check-click p {
    color: var(--parent-bg-primary);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.condition-for-not-check {
    color: var(--parent-bg-primary);
    font-family: "Montserrat", sans-serif;
    font-size: 12.5px;
    font-weight: 400;
    line-height: 18px;
}

.feedback-hr {
    height: 0.5px;
    border: none;
    background-color: var(--submit-border);
    margin: 10px 0;
}

.experience-p {
    color: var(--parent-bg-primary);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 20px;
}

.feedback-part-parent {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.feedback-part {
    padding: 16px;
    border: 1px solid #6A6868;
    border-radius: 20px;
    width: 100%;
}

.rate-exp {
    padding-top: 10px;
    padding-bottom: 30px;
    color: var(--parent-bg-primary);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.feedback-num-section {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.feedback-num {
    color: var(--parent-bg-primary);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
    border-radius: 4px;
}

.additional-feedback {
    color: var(--parent-bg-primary);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 20px 0;
}

.feedback-text {
    background-color: transparent;
    resize: none;
    height: 128px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #D1D5DB;
    padding: 10px;
    color: var(--text-head);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.feedback-range {
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}

.feedback-text::placeholder {
    color: #898989;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.submit-part {
    padding: 10px 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.submit-part button {
    border-radius: 20px;
    /* background: linear-gradient(90deg, #FFC727 0%, #F90 59.17%); */
    /* box-shadow: 1px 4px 0px 0px #563F00; */
    display: flex;
    width: 225px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    color: var(--bg-dark);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

/* for mobile */
.feedback-container footer {
    width: 100%;
    padding: 24px;
    background-color: var(--bg-dark);
}

.footer-setu-icon {
    width: 100px;
}

.email,
.address {
    color: var(--parent-bg-primary);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* width: 360px; */
}

.about-p {
    color: var(--parent-bg-primary);
    text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.10);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 12px;
}

.about-lists {
    list-style: none;
}

.about-lists li {
    color: rgba(190, 190, 190, 0.73);
    text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.10);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 0;
    cursor: pointer;
}

/* for web */
.footer {
  background-color: var(--bg-dark);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--parent-bg-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 30px;
  gap: 50px;
}

.footer-first {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 12px;
}

.footer-about {
  text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.10);
  font-size: 17px;
  font-weight: 700;
}

.footer-last-div {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 80px;
}

.footer-last {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-last p {
  cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        overflow-y: auto;
    }

    .feedback-part-parent img {
        display: none;
    }

    .footer {
        display: none;
    }
}

@media (min-width: 767px) {
    .container {
        height: 100vh;
    }

    .check-click {
        justify-content: flex-start;
    }

    .submit-part {
        justify-content: flex-end;
    }

    .feedback-container footer {
        display: none;
    }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {

    .container {
        height: 100vh;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) and (min-height: 550px) and (max-height: 800px) {
    .container {
        height: 100%;
    }
}
